:root {
  --vscode-font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  --vscode-font-weight: normal;
  --vscode-font-size: 13px;
  --vscode-editor-font-family: JetBrains Mono, Menlo, Monaco, "Courier New",
    monospace;
  --vscode-editor-font-weight: normal;
  --vscode-editor-font-size: 14px;
  --vscode-foreground: #f7f1ff;
  --vscode-errorForeground: #fc618d;
  --vscode-descriptionForeground: #8b888f;
  --vscode-icon-foreground: #c5c5c5;
  --vscode-focusBorder: #69676c;
  --vscode-selection-background: rgba(186, 182, 192, 0.15);
  --vscode-textSeparator-foreground: #69676c;
  --vscode-textLink-foreground: #fce566;
  --vscode-textLink-activeForeground: #f7f1ff;
  --vscode-textPreformat-foreground: #f7f1ff;
  --vscode-textBlockQuote-background: #363537;
  --vscode-textBlockQuote-border: #363537;
  --vscode-textCodeBlock-background: #363537;
  --vscode-widget-shadow: #131313;
  --vscode-input-background: #363537;
  --vscode-input-foreground: #f7f1ff;
  --vscode-input-border: #363537;
  --vscode-inputOption-activeBorder: #525053;
  --vscode-inputOption-activeBackground: #525053;
  --vscode-inputOption-activeForeground: #ffffff;
  --vscode-input-placeholderForeground: #69676c;
  --vscode-inputValidation-infoBackground: #363537;
  --vscode-inputValidation-infoForeground: #5ad4e6;
  --vscode-inputValidation-infoBorder: #5ad4e6;
  --vscode-inputValidation-warningBackground: #363537;
  --vscode-inputValidation-warningForeground: #fd9353;
  --vscode-inputValidation-warningBorder: #fd9353;
  --vscode-inputValidation-errorBackground: #363537;
  --vscode-inputValidation-errorForeground: #fc618d;
  --vscode-inputValidation-errorBorder: #fc618d;
  --vscode-dropdown-background: #222222;
  --vscode-dropdown-listBackground: #363537;
  --vscode-dropdown-foreground: #8b888f;
  --vscode-dropdown-border: #222222;
  --vscode-checkbox-background: #222222;
  --vscode-checkbox-foreground: #8b888f;
  --vscode-checkbox-border: #222222;
  --vscode-button-foreground: #8b888f;
  --vscode-button-background: #363537;
  --vscode-button-hoverBackground: #222222;
  --vscode-button-secondaryForeground: #ffffff;
  --vscode-button-secondaryBackground: #3a3d41;
  --vscode-button-secondaryHoverBackground: #45494e;
  --vscode-badge-background: #fce566;
  --vscode-badge-foreground: #222222;
  --vscode-scrollbar-shadow: #222222;
  --vscode-scrollbarSlider-background: rgba(247, 241, 255, 0.07);
  --vscode-scrollbarSlider-hoverBackground: rgba(247, 241, 255, 0.07);
  --vscode-scrollbarSlider-activeBackground: rgba(247, 241, 255, 0.07);
  --vscode-progressBar-background: #363537;
  --vscode-editorError-foreground: #fc618d;
  --vscode-editorError-border: rgba(0, 0, 0, 0);
  --vscode-editorWarning-foreground: #fd9353;
  --vscode-editorWarning-border: rgba(0, 0, 0, 0);
  --vscode-editorInfo-foreground: #5ad4e6;
  --vscode-editorInfo-border: #222222;
  --vscode-editorHint-foreground: #948ae3;
  --vscode-editorHint-border: #222222;
  --vscode-editor-background: #222222;
  --vscode-editor-foreground: #f7f1ff;
  --vscode-editorWidget-background: #363537;
  --vscode-editorWidget-foreground: #f7f1ff;
  --vscode-editorWidget-border: #363537;
  --vscode-quickInput-background: #363537;
  --vscode-quickInput-foreground: #f7f1ff;
  --vscode-quickInputTitle-background: rgba(255, 255, 255, 0.1);
  --vscode-pickerGroup-foreground: #525053;
  --vscode-pickerGroup-border: #222222;
  --vscode-editor-selectionBackground: rgba(186, 182, 192, 0.15);
  --vscode-editor-inactiveSelectionBackground: rgba(247, 241, 255, 0.05);
  --vscode-editor-selectionHighlightBackground: rgba(247, 241, 255, 0.15);
  --vscode-editor-selectionHighlightBorder: rgba(0, 0, 0, 0);
  --vscode-editor-findMatchBackground: rgba(247, 241, 255, 0.15);
  --vscode-editor-findMatchHighlightBackground: rgba(247, 241, 255, 0.15);
  --vscode-editor-findRangeHighlightBackground: rgba(247, 241, 255, 0.05);
  --vscode-editor-findMatchBorder: #fce566;
  --vscode-editor-findMatchHighlightBorder: rgba(0, 0, 0, 0);
  --vscode-editor-findRangeHighlightBorder: rgba(0, 0, 0, 0);
  --vscode-searchEditor-findMatchBackground: rgba(247, 241, 255, 0.1);
  --vscode-searchEditor-findMatchBorder: rgba(0, 0, 0, 0);
  --vscode-editor-hoverHighlightBackground: rgba(247, 241, 255, 0.05);
  --vscode-editorHoverWidget-background: #363537;
  --vscode-editorHoverWidget-foreground: #f7f1ff;
  --vscode-editorHoverWidget-border: #222222;
  --vscode-editorHoverWidget-statusBarBackground: #414042;
  --vscode-editorLink-activeForeground: #5ad4e6;
  --vscode-editorInlineHint-foreground: #363537;
  --vscode-editorInlineHint-background: #f7f1ff;
  --vscode-editorLightBulb-foreground: #fce566;
  --vscode-editorLightBulbAutoFix-foreground: #7bd88f;
  --vscode-diffEditor-insertedTextBackground: rgba(123, 216, 143, 0.1);
  --vscode-diffEditor-removedTextBackground: rgba(252, 97, 141, 0.1);
  --vscode-diffEditor-diagonalFill: rgba(204, 204, 204, 0.2);
  --vscode-list-focusBackground: #222222;
  --vscode-list-focusForeground: #f7f1ff;
  --vscode-list-activeSelectionBackground: rgba(247, 241, 255, 0.05);
  --vscode-list-activeSelectionForeground: #fce566;
  --vscode-list-inactiveSelectionBackground: rgba(186, 182, 192, 0.05);
  --vscode-list-inactiveSelectionForeground: #fce566;
  --vscode-list-inactiveFocusBackground: #222222;
  --vscode-list-hoverBackground: rgba(247, 241, 255, 0.05);
  --vscode-list-hoverForeground: #f7f1ff;
  --vscode-list-dropBackground: rgba(25, 25, 25, 0.75);
  --vscode-list-highlightForeground: #f7f1ff;
  --vscode-list-invalidItemForeground: #fc618d;
  --vscode-list-errorForeground: #fc618d;
  --vscode-list-warningForeground: #fd9353;
  --vscode-listFilterWidget-background: #222222;
  --vscode-listFilterWidget-outline: #222222;
  --vscode-listFilterWidget-noMatchesOutline: #fc618d;
  --vscode-list-filterMatchBackground: rgba(247, 241, 255, 0.15);
  --vscode-list-filterMatchBorder: rgba(0, 0, 0, 0);
  --vscode-tree-indentGuidesStroke: #585858;
  --vscode-list-deemphasizedForeground: #8c8c8c;
  --vscode-menu-foreground: #8b888f;
  --vscode-menu-background: #222222;
  --vscode-menu-selectionForeground: #fce566;
  --vscode-menu-selectionBackground: rgba(247, 241, 255, 0.05);
  --vscode-menu-separatorBackground: #bbbbbb;
  --vscode-editor-snippetTabstopHighlightBackground: rgba(124, 124, 124, 0.3);
  --vscode-editor-snippetFinalTabstopHighlightBorder: #525252;
  --vscode-breadcrumb-foreground: #8b888f;
  --vscode-breadcrumb-background: #222222;
  --vscode-breadcrumb-focusForeground: #bab6c0;
  --vscode-breadcrumb-activeSelectionForeground: #f7f1ff;
  --vscode-breadcrumbPicker-background: #363537;
  --vscode-merge-currentHeaderBackground: rgba(252, 97, 141, 0.15);
  --vscode-merge-currentContentBackground: rgba(252, 97, 141, 0.1);
  --vscode-merge-incomingHeaderBackground: rgba(123, 216, 143, 0.15);
  --vscode-merge-incomingContentBackground: rgba(123, 216, 143, 0.1);
  --vscode-merge-commonHeaderBackground: rgba(247, 241, 255, 0.15);
  --vscode-merge-commonContentBackground: rgba(247, 241, 255, 0.1);
  --vscode-merge-border: #222222;
  --vscode-editorOverviewRuler-currentContentForeground: #363537;
  --vscode-editorOverviewRuler-incomingContentForeground: #363537;
  --vscode-editorOverviewRuler-commonContentForeground: rgba(
    247,
    241,
    255,
    0.15
  );
  --vscode-editorOverviewRuler-findMatchForeground: rgba(247, 241, 255, 0.15);
  --vscode-editorOverviewRuler-selectionHighlightForeground: rgba(
    247,
    241,
    255,
    0.15
  );
  --vscode-minimap-findMatchHighlight: #d18616;
  --vscode-minimap-selectionHighlight: #264f78;
  --vscode-minimap-errorHighlight: #fc618d;
  --vscode-minimap-warningHighlight: #fd9353;
  --vscode-minimapSlider-background: rgba(247, 241, 255, 0.04);
  --vscode-minimapSlider-hoverBackground: rgba(247, 241, 255, 0.04);
  --vscode-minimapSlider-activeBackground: rgba(247, 241, 255, 0.04);
  --vscode-problemsErrorIcon-foreground: #fc618d;
  --vscode-problemsWarningIcon-foreground: #fd9353;
  --vscode-problemsInfoIcon-foreground: #5ad4e6;
  --vscode-charts-foreground: #f7f1ff;
  --vscode-charts-lines: #69676c;
  --vscode-charts-red: #fc618d;
  --vscode-charts-blue: #5ad4e6;
  --vscode-charts-yellow: #fce566;
  --vscode-charts-orange: #fd9353;
  --vscode-charts-green: #7bd88f;
  --vscode-charts-purple: #948ae3;
  --vscode-editor-lineHighlightBackground: rgba(247, 241, 255, 0.05);
  --vscode-editor-lineHighlightBorder: rgba(0, 0, 0, 0);
  --vscode-editor-rangeHighlightBackground: #363537;
  --vscode-editor-rangeHighlightBorder: #363537;
  --vscode-editor-symbolHighlightBackground: rgba(247, 241, 255, 0.15);
  --vscode-editorCursor-foreground: #f7f1ff;
  --vscode-editorCursor-background: #222222;
  --vscode-editorWhitespace-foreground: #525053;
  --vscode-editorIndentGuide-background: #363537;
  --vscode-editorIndentGuide-activeBackground: #525053;
  --vscode-editorLineNumber-foreground: #525053;
  --vscode-editorActiveLineNumber-foreground: #c6c6c6;
  --vscode-editorLineNumber-activeForeground: #bab6c0;
  --vscode-editorRuler-foreground: #525053;
  --vscode-editorCodeLens-foreground: #69676c;
  --vscode-editorBracketMatch-background: #222222;
  --vscode-editorBracketMatch-border: #69676c;
  --vscode-editorOverviewRuler-border: #222222;
  --vscode-editorGutter-background: #222222;
  --vscode-editorUnnecessaryCode-opacity: rgba(0, 0, 0, 0.67);
  --vscode-editorOverviewRuler-rangeHighlightForeground: rgba(
    247,
    241,
    255,
    0.15
  );
  --vscode-editorOverviewRuler-errorForeground: #fc618d;
  --vscode-editorOverviewRuler-warningForeground: #fd9353;
  --vscode-editorOverviewRuler-infoForeground: #5ad4e6;
  --vscode-editorOverviewRuler-bracketMatchForeground: #a0a0a0;
  --vscode-editor-linkedEditingBackground: rgba(255, 0, 0, 0.3);
  --vscode-editor-wordHighlightBackground: rgba(247, 241, 255, 0.15);
  --vscode-editor-wordHighlightStrongBackground: rgba(247, 241, 255, 0.15);
  --vscode-editor-wordHighlightBorder: rgba(0, 0, 0, 0);
  --vscode-editor-wordHighlightStrongBorder: rgba(0, 0, 0, 0);
  --vscode-editorOverviewRuler-wordHighlightForeground: rgba(
    247,
    241,
    255,
    0.15
  );
  --vscode-editorOverviewRuler-wordHighlightStrongForeground: rgba(
    247,
    241,
    255,
    0.15
  );
  --vscode-editor-foldBackground: rgba(186, 182, 192, 0.04);
  --vscode-editorGutter-foldingControlForeground: #c5c5c5;
  --vscode-peekViewTitle-background: #363537;
  --vscode-peekViewTitleLabel-foreground: #f7f1ff;
  --vscode-peekViewTitleDescription-foreground: #8b888f;
  --vscode-peekView-border: #222222;
  --vscode-peekViewResult-background: #363537;
  --vscode-peekViewResult-lineForeground: #8b888f;
  --vscode-peekViewResult-fileForeground: #8b888f;
  --vscode-peekViewResult-selectionBackground: #363537;
  --vscode-peekViewResult-selectionForeground: #f7f1ff;
  --vscode-peekViewEditor-background: #363537;
  --vscode-peekViewEditorGutter-background: #363537;
  --vscode-peekViewResult-matchHighlightBackground: #525053;
  --vscode-peekViewEditor-matchHighlightBackground: #525053;
  --vscode-editorMarkerNavigationError-background: #fc618d;
  --vscode-editorMarkerNavigationWarning-background: #fd9353;
  --vscode-editorMarkerNavigationInfo-background: #5ad4e6;
  --vscode-editorMarkerNavigation-background: #363537;
  --vscode-editorSuggestWidget-background: #363537;
  --vscode-editorSuggestWidget-border: #363537;
  --vscode-editorSuggestWidget-foreground: #bab6c0;
  --vscode-editorSuggestWidget-selectedBackground: #69676c;
  --vscode-editorSuggestWidget-highlightForeground: #f7f1ff;
  --vscode-tab-activeBackground: #222222;
  --vscode-tab-unfocusedActiveBackground: #222222;
  --vscode-tab-inactiveBackground: #222222;
  --vscode-tab-unfocusedInactiveBackground: #222222;
  --vscode-tab-activeForeground: #fce566;
  --vscode-tab-inactiveForeground: #8b888f;
  --vscode-tab-unfocusedActiveForeground: #bab6c0;
  --vscode-tab-unfocusedInactiveForeground: #8b888f;
  --vscode-tab-hoverBackground: #222222;
  --vscode-tab-unfocusedHoverBackground: #222222;
  --vscode-tab-border: #222222;
  --vscode-tab-lastPinnedBorder: #525053;
  --vscode-tab-activeBorder: #fce566;
  --vscode-tab-unfocusedActiveBorder: #8b888f;
  --vscode-tab-hoverBorder: #525053;
  --vscode-tab-unfocusedHoverBorder: #222222;
  --vscode-tab-activeModifiedBorder: #525053;
  --vscode-tab-inactiveModifiedBorder: #525053;
  --vscode-tab-unfocusedActiveModifiedBorder: #363537;
  --vscode-tab-unfocusedInactiveModifiedBorder: #363537;
  --vscode-editorPane-background: #222222;
  --vscode-editorGroup-emptyBackground: #131313;
  --vscode-editorGroup-focusedEmptyBorder: #191919;
  --vscode-editorGroupHeader-tabsBackground: #222222;
  --vscode-editorGroupHeader-tabsBorder: #222222;
  --vscode-editorGroupHeader-noTabsBackground: #222222;
  --vscode-editorGroup-border: #191919;
  --vscode-editorGroup-dropBackground: rgba(25, 25, 25, 0.75);
  --vscode-imagePreview-border: rgba(128, 128, 128, 0.35);
  --vscode-panel-background: #363537;
  --vscode-panel-border: #222222;
  --vscode-panelTitle-activeForeground: #fce566;
  --vscode-panelTitle-inactiveForeground: #8b888f;
  --vscode-panelTitle-activeBorder: #fce566;
  --vscode-panel-dropBorder: #fce566;
  --vscode-panelSection-dropBackground: rgba(25, 25, 25, 0.75);
  --vscode-panelSectionHeader-background: rgba(128, 128, 128, 0.2);
  --vscode-panelSection-border: #222222;
  --vscode-statusBar-foreground: #69676c;
  --vscode-statusBar-noFolderForeground: #69676c;
  --vscode-statusBar-background: #191919;
  --vscode-statusBar-noFolderBackground: #191919;
  --vscode-statusBar-border: #131313;
  --vscode-statusBar-noFolderBorder: #131313;
  --vscode-statusBarItem-activeBackground: #222222;
  --vscode-statusBarItem-hoverBackground: rgba(247, 241, 255, 0.05);
  --vscode-statusBarItem-prominentForeground: #69676c;
  --vscode-statusBarItem-prominentBackground: #363537;
  --vscode-statusBarItem-prominentHoverBackground: #363537;
  --vscode-statusBarItem-errorBackground: #cd043d;
  --vscode-statusBarItem-errorForeground: #ffffff;
  --vscode-activityBar-background: #131313;
  --vscode-activityBar-foreground: #bab6c0;
  --vscode-activityBar-inactiveForeground: #525053;
  --vscode-activityBar-border: #131313;
  --vscode-activityBar-activeBorder: #bab6c0;
  --vscode-activityBar-dropBorder: #bab6c0;
  --vscode-activityBarBadge-background: #fce566;
  --vscode-activityBarBadge-foreground: #222222;
  --vscode-statusBarItem-remoteBackground: #191919;
  --vscode-statusBarItem-remoteForeground: #7bd88f;
  --vscode-extensionBadge-remoteBackground: #fce566;
  --vscode-extensionBadge-remoteForeground: #222222;
  --vscode-sideBar-background: #191919;
  --vscode-sideBar-foreground: #8b888f;
  --vscode-sideBar-border: #131313;
  --vscode-sideBarTitle-foreground: #525053;
  --vscode-sideBar-dropBackground: rgba(25, 25, 25, 0.75);
  --vscode-sideBarSectionHeader-background: #191919;
  --vscode-sideBarSectionHeader-foreground: #69676c;
  --vscode-titleBar-activeForeground: #8b888f;
  --vscode-titleBar-inactiveForeground: #525053;
  --vscode-titleBar-activeBackground: #191919;
  --vscode-titleBar-inactiveBackground: #191919;
  --vscode-titleBar-border: #131313;
  --vscode-menubar-selectionForeground: #8b888f;
  --vscode-menubar-selectionBackground: rgba(255, 255, 255, 0.1);
  --vscode-notificationCenter-border: #363537;
  --vscode-notificationToast-border: #363537;
  --vscode-notifications-foreground: #bab6c0;
  --vscode-notifications-background: #363537;
  --vscode-notificationLink-foreground: #fce566;
  --vscode-notificationCenterHeader-foreground: #8b888f;
  --vscode-notificationCenterHeader-background: #363537;
  --vscode-notifications-border: #363537;
  --vscode-notificationsErrorIcon-foreground: #fc618d;
  --vscode-notificationsWarningIcon-foreground: #fd9353;
  --vscode-notificationsInfoIcon-foreground: #5ad4e6;
  --vscode-symbolIcon-arrayForeground: #fc618d;
  --vscode-symbolIcon-booleanForeground: #fc618d;
  --vscode-symbolIcon-classForeground: #5ad4e6;
  --vscode-symbolIcon-colorForeground: #948ae3;
  --vscode-symbolIcon-constantForeground: #948ae3;
  --vscode-symbolIcon-constructorForeground: #7bd88f;
  --vscode-symbolIcon-enumeratorForeground: #fd9353;
  --vscode-symbolIcon-enumeratorMemberForeground: #fd9353;
  --vscode-symbolIcon-eventForeground: #fd9353;
  --vscode-symbolIcon-fieldForeground: #fd9353;
  --vscode-symbolIcon-fileForeground: #bab6c0;
  --vscode-symbolIcon-folderForeground: #bab6c0;
  --vscode-symbolIcon-functionForeground: #7bd88f;
  --vscode-symbolIcon-interfaceForeground: #5ad4e6;
  --vscode-symbolIcon-keyForeground: #fd9353;
  --vscode-symbolIcon-keywordForeground: #fc618d;
  --vscode-symbolIcon-methodForeground: #7bd88f;
  --vscode-symbolIcon-moduleForeground: #5ad4e6;
  --vscode-symbolIcon-namespaceForeground: #5ad4e6;
  --vscode-symbolIcon-nullForeground: #948ae3;
  --vscode-symbolIcon-numberForeground: #948ae3;
  --vscode-symbolIcon-objectForeground: #5ad4e6;
  --vscode-symbolIcon-operatorForeground: #fc618d;
  --vscode-symbolIcon-packageForeground: #948ae3;
  --vscode-symbolIcon-propertyForeground: #fd9353;
  --vscode-symbolIcon-referenceForeground: #948ae3;
  --vscode-symbolIcon-snippetForeground: #7bd88f;
  --vscode-symbolIcon-stringForeground: #fce566;
  --vscode-symbolIcon-structForeground: #fc618d;
  --vscode-symbolIcon-textForeground: #fce566;
  --vscode-symbolIcon-typeParameterForeground: #fd9353;
  --vscode-symbolIcon-unitForeground: #948ae3;
  --vscode-symbolIcon-variableForeground: #5ad4e6;
  --vscode-editorGutter-commentRangeForeground: #c5c5c5;
  --vscode-debugToolBar-background: #363537;
  --vscode-debugIcon-startForeground: #7bd88f;
  --vscode-settings-headerForeground: #fce566;
  --vscode-settings-modifiedItemIndicator: #fce566;
  --vscode-settings-dropdownBackground: #363537;
  --vscode-settings-dropdownForeground: #f7f1ff;
  --vscode-settings-dropdownBorder: #363537;
  --vscode-settings-dropdownListBorder: #8b888f;
  --vscode-settings-checkboxBackground: #363537;
  --vscode-settings-checkboxForeground: #f7f1ff;
  --vscode-settings-checkboxBorder: #363537;
  --vscode-settings-textInputBackground: #363537;
  --vscode-settings-textInputForeground: #f7f1ff;
  --vscode-settings-textInputBorder: #363537;
  --vscode-settings-numberInputBackground: #363537;
  --vscode-settings-numberInputForeground: #f7f1ff;
  --vscode-settings-numberInputBorder: #363537;
  --vscode-settings-focusedRowBackground: rgba(128, 128, 128, 0.14);
  --vscode-notebook-rowHoverBackground: rgba(128, 128, 128, 0.07);
  --vscode-notebook-focusedRowBorder: rgba(255, 255, 255, 0.12);
  --vscode-terminal-background: #363537;
  --vscode-terminal-foreground: #f7f1ff;
  --vscode-terminalCursor-foreground: #f7f1ff;
  --vscode-terminalCursor-background: rgba(0, 0, 0, 0);
  --vscode-terminal-selectionBackground: rgba(247, 241, 255, 0.15);
  --vscode-terminal-border: #222222;
  --vscode-testing-iconFailed: #f14c4c;
  --vscode-testing-iconErrored: #f14c4c;
  --vscode-testing-iconPassed: #73c991;
  --vscode-testing-runAction: #73c991;
  --vscode-testing-iconQueued: #cca700;
  --vscode-testing-iconUnset: #848484;
  --vscode-testing-iconSkipped: #848484;
  --vscode-testing-peekBorder: #fc618d;
  --vscode-testing-message\.error\.decorationForeground: #fc618d;
  --vscode-testing-message\.error\.lineBackground: rgba(255, 0, 0, 0.2);
  --vscode-testing-message\.warning\.decorationForeground: #fd9353;
  --vscode-testing-message\.warning\.lineBackground: rgba(255, 208, 0, 0.2);
  --vscode-testing-message\.info\.decorationForeground: #5ad4e6;
  --vscode-testing-message\.info\.lineBackground: rgba(0, 127, 255, 0.2);
  --vscode-testing-message\.hint\.decorationForeground: #948ae3;
  --vscode-welcomePage-buttonBackground: #363537;
  --vscode-welcomePage-buttonHoverBackground: #525053;
  --vscode-welcomePage-progress\.background: #8b888f;
  --vscode-welcomePage-progress\.foreground: #363537;
  --vscode-walkThrough-embeddedEditorBackground: #191919;
  --vscode-statusBar-debuggingBackground: #69676c;
  --vscode-statusBar-debuggingForeground: #f7f1ff;
  --vscode-statusBar-debuggingBorder: #191919;
  --vscode-debugExceptionWidget-border: #222222;
  --vscode-debugExceptionWidget-background: #363537;
  --vscode-editorGutter-modifiedBackground: #fd9353;
  --vscode-editorGutter-addedBackground: #7bd88f;
  --vscode-editorGutter-deletedBackground: #fc618d;
  --vscode-minimapGutter-modifiedBackground: #fce566;
  --vscode-minimapGutter-addedBackground: #7bd88f;
  --vscode-minimapGutter-deletedBackground: #fc618d;
  --vscode-editorOverviewRuler-modifiedForeground: #fd9353;
  --vscode-editorOverviewRuler-addedForeground: #7bd88f;
  --vscode-editorOverviewRuler-deletedForeground: #fc618d;
  --vscode-editor-stackFrameHighlightBackground: rgba(255, 255, 0, 0.2);
  --vscode-editor-focusedStackFrameHighlightBackground: rgba(
    122,
    189,
    122,
    0.3
  );
  --vscode-debugIcon-breakpointForeground: #fc618d;
  --vscode-debugIcon-breakpointDisabledForeground: #bab6c0;
  --vscode-debugIcon-breakpointUnverifiedForeground: #fd9353;
  --vscode-debugIcon-breakpointCurrentStackframeForeground: #fce566;
  --vscode-debugIcon-breakpointStackframeForeground: #f7f1ff;
  --vscode-scm-providerBorder: #454545;
  --vscode-notebook-cellBorderColor: rgba(186, 182, 192, 0.05);
  --vscode-notebook-focusedEditorBorder: #69676c;
  --vscode-notebookStatusSuccessIcon-foreground: #7bd88f;
  --vscode-notebookStatusErrorIcon-foreground: #fc618d;
  --vscode-notebookStatusRunningIcon-foreground: #f7f1ff;
  --vscode-notebook-outputContainerBackgroundColor: rgba(186, 182, 192, 0.05);
  --vscode-notebook-cellToolbarSeparator: rgba(128, 128, 128, 0.35);
  --vscode-notebook-selectedCellBorder: rgba(186, 182, 192, 0.05);
  --vscode-notebook-focusedCellBorder: #69676c;
  --vscode-notebook-inactiveFocusedCellBorder: rgba(186, 182, 192, 0.05);
  --vscode-notebook-cellStatusBarItemHoverBackground: rgba(255, 255, 255, 0.15);
  --vscode-notebook-cellInsertionIndicator: #69676c;
  --vscode-notebookScrollbarSlider-background: rgba(247, 241, 255, 0.07);
  --vscode-notebookScrollbarSlider-hoverBackground: rgba(247, 241, 255, 0.07);
  --vscode-notebookScrollbarSlider-activeBackground: rgba(247, 241, 255, 0.07);
  --vscode-notebook-symbolHighlightBackground: rgba(255, 255, 255, 0.04);
  --vscode-searchEditor-textInputBorder: #363537;
  --vscode-debugTokenExpression-name: #c586c0;
  --vscode-debugTokenExpression-value: rgba(204, 204, 204, 0.6);
  --vscode-debugTokenExpression-string: #ce9178;
  --vscode-debugTokenExpression-boolean: #4e94ce;
  --vscode-debugTokenExpression-number: #b5cea8;
  --vscode-debugTokenExpression-error: #f48771;
  --vscode-debugView-exceptionLabelForeground: #f7f1ff;
  --vscode-debugView-exceptionLabelBackground: #6c2022;
  --vscode-debugView-stateLabelForeground: #f7f1ff;
  --vscode-debugView-stateLabelBackground: rgba(136, 136, 136, 0.27);
  --vscode-debugView-valueChangedHighlight: #569cd6;
  --vscode-debugConsole-infoForeground: #5ad4e6;
  --vscode-debugConsole-warningForeground: #fd9353;
  --vscode-debugConsole-errorForeground: #fc618d;
  --vscode-debugConsole-sourceForeground: #f7f1ff;
  --vscode-debugConsoleInputIcon-foreground: #f7f1ff;
  --vscode-debugIcon-pauseForeground: #f7f1ff;
  --vscode-debugIcon-stopForeground: #fc618d;
  --vscode-debugIcon-disconnectForeground: #f7f1ff;
  --vscode-debugIcon-restartForeground: #7bd88f;
  --vscode-debugIcon-stepOverForeground: #f7f1ff;
  --vscode-debugIcon-stepIntoForeground: #f7f1ff;
  --vscode-debugIcon-stepOutForeground: #f7f1ff;
  --vscode-debugIcon-continueForeground: #f7f1ff;
  --vscode-debugIcon-stepBackForeground: #f7f1ff;
  --vscode-extensionButton-prominentBackground: #363537;
  --vscode-extensionButton-prominentForeground: #f7f1ff;
  --vscode-extensionButton-prominentHoverBackground: #525053;
  --vscode-terminal-ansiBlack: #363537;
  --vscode-terminal-ansiRed: #fc618d;
  --vscode-terminal-ansiGreen: #7bd88f;
  --vscode-terminal-ansiYellow: #fce566;
  --vscode-terminal-ansiBlue: #fd9353;
  --vscode-terminal-ansiMagenta: #948ae3;
  --vscode-terminal-ansiCyan: #5ad4e6;
  --vscode-terminal-ansiWhite: #f7f1ff;
  --vscode-terminal-ansiBrightBlack: #69676c;
  --vscode-terminal-ansiBrightRed: #fc618d;
  --vscode-terminal-ansiBrightGreen: #7bd88f;
  --vscode-terminal-ansiBrightYellow: #fce566;
  --vscode-terminal-ansiBrightBlue: #fd9353;
  --vscode-terminal-ansiBrightMagenta: #948ae3;
  --vscode-terminal-ansiBrightCyan: #5ad4e6;
  --vscode-terminal-ansiBrightWhite: #f7f1ff;
  --vscode-gitDecoration-addedResourceForeground: #7bd88f;
  --vscode-gitDecoration-modifiedResourceForeground: #fce566;
  --vscode-gitDecoration-deletedResourceForeground: #fc618d;
  --vscode-gitDecoration-untrackedResourceForeground: #fd9353;
  --vscode-gitDecoration-ignoredResourceForeground: #525053;
  --vscode-gitDecoration-stageModifiedResourceForeground: #fce566;
  --vscode-gitDecoration-stageDeletedResourceForeground: #fc618d;
  --vscode-gitDecoration-conflictingResourceForeground: #fd9353;
  --vscode-gitDecoration-submoduleResourceForeground: #8db9e2;
}

@tailwind base;

body {
  padding: 0;
  margin: 0;
}
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply inline-flex items-center justify-center h-8 px-4 font-semibold text-sm;

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  .btn-primary {
    background: var(--vscode-badge-background);
    color: var(--vscode-badge-foreground);

    &:hover,
    &:focus,
    &:active {
      color: var(--vscode-badge-foreground) !important;
    }
  }

  .btn-secondary {
    background: var(--vscode-input-background);
    color: var(--vscode-input-foreground);
  }

  .alert {
    @apply p-4;
  }

  .alert-success {
    background-color: var(--vscode-terminal-ansiGreen);
    color: rgba(0, 0, 0, 0.5);
  }

  .alert-error {
    background-color: var(--vscode-terminal-ansiRed);
    color: rgba(0, 0, 0, 0.75);
  }
}

form input[type="radio"] {
  &:hover,
  &:focus,
  &:active {
    box-shadow: 0 0 0 1px var(--vscode-badge-background);
  }

  &:checked {
    background-color: var(--vscode-badge-background);
  }

  &:checked,
  &:checked:focus {
    background-color: var(--vscode-badge-background) !important;
  }
}

form input[type="text"] {
  @apply h-8 text-sm;
  background: var(--vscode-input-background) !important;
  border-color: var(--vscode-input-border) !important;

  &::placeholder {
    color: var(--vscode-input-placeholderForeground);
  }

  &:focus {
    box-shadow: inset 0 0 0 1px var(--vscode-badge-background) !important;
    border-color: transparent !important;
  }
}

.form-error {
  @apply text-xs mt-2;
  color: var(--vscode-errorForeground);
}
